syntax: glob
.DS_Store
*.pyc
*.pov
*.aux
*.log
*.snm
*.bbl
*.pdf
*.ps
*.dvi
*.blg
*.lof
*.lot
*.out
*.pdfsync
*.tdo
*.toc
*.nav
*.xdv
*.gz_temp
#
*.bat
#
*.jpeg
*.JPEG
*.jpg
*.JPG
*.png
*.PNG
*.eps
*.EPS
*.svg
*.SVG
*.pdf_tex
*.tif
*.TIF
*.tiff
*.TIFF
*.gif
*.GIF
*.cdr
*.CDR
*.bmp
*.BMP
*.emf
*.EMF
*.tim
*.ipt
*.ipa
#
*.txt
*.dot
*.mat
*.fig
#
*.doc
*.docx
*.xls
*.rtf
*.ppt
#
*.tar
*.gz
*.rar
*.zip
*.7z
*.osm
#
*.exe
*.dll
*.msi
*.ini
*.db
*.lnk
#
*.avi
*.wav
*.mwv
*.mp3
*.mp4
#
# site-specific
dist/*
maps/*
